<div class="o-grid-container o-grid-container--bleed">
	<div class="o-grid-row o-grid-row--compact">
		<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
			<div class="package__nav package__nav--article-end package__highlight-background">
				<div class="o-grid-container o-grid-container--bleed package__article-end-bar">
					<div class="o-grid-row o-grid-row--compact">
						<div data-o-grid-colspan="12 M6">
							<h2 class="package__article-end-title package__highlight-background--light package__text--l package__text--strong">Explore the series</h2>
							{{#if @root.content.next}}
								{{> package/next-up @root.context.next}}
							{{else}}
								{{> package/next-up @root.context.prev}}
							{{/if}}
						</div>
						{{#if descriptionHTML}}
							<div data-o-grid-colspan="hide M6">
								<div class="package__article-end-about package__text--m">
									<div>ABOUT THIS SERIES</div>
									{{{descriptionHTML}}}
								</div>
							</div>
						{{/if}}
					</div>
				</div>
				{{#if shortenedPackage}}
					{{> package/package-contents shortenedPackage}}
				{{else}}
					{{> package/package-contents contains}}
				{{/if}}
			</div>
		</div>
	</div>
</div>
