<div class="package__nav--article-end" data-textbox-background="{{#ifEquals @root.package.theme 'specalReport'}}claret{{else}}slate{{/ifEquals}}">
	<h3 class="package__article-end-title">Explore the series</h3>

	<div class="package__article-end-teaser-container">
		<div class="o-teaser o-teaser--large o-teaser--inverse o-teaser--has-image package__article-end-teaser" data-o-component="o-teaser">
			<div class="o-teaser__content package__xdb">
				<div class="o-teaser__meta">
					<span class="o-teaser__tag">UP NEXT</span>
				</div>
				<h2 class="o-teaser__heading"><a href="{{@root.context.next.url}}">{{@root.context.next.title}}</a></h2>
				<p class="o-teaser__standfirst">{{@root.context.next.standfirst}}</p>
				<time data-o-component="o-date" class="o-date o-teaser__timestamp" datetime="{{@root.context.next.publishedDate}}">2016-02-29T12:35:48Z</time>
			</div>
			<div class="o-teaser__image-container package__elf">
				<div class="o-teaser__image-placeholder image-placeholder">
					<img src="{{@root.context.next.mainImage.url}}" class="o-teaser__image" alt="demo image"></img>
				</div>
			</div>
		</div>
	</div>

	{{#if shortenedPackage}}
		{{> package/package-contents shortenedPackage}}
	{{else}}
		{{> package/package-contents contains}}
	{{/if}}
</div>
