<ul class="package__list">
	{{#each contents}}
		<li class="package__content-item">
			<a href="{{relativeUrl}}" class="package__link package__text--m" {{#ifEquals id @root.context.current.id}}aria-selected="true" aria-label="Current page"{{/ifEquals}}>
				{{#if sequenceId}}<div class="package__text--highlit">{{sequenceId}}</div>{{/if}}
				{{title}}
			</a>
		</li>
	{{/each}}
</ul>
{{#if isShortened}}
	<div class="package__link-container--block">
		<a href="{{@root.context.home.url}}" class="package__link--block">
			<span class="package__link-inner--block package__text--m package__text--strong">{{landingPageLinkText}}</span>
		</a>
	</div>
{{/if}}
