<ul class="package__list">
	{{#each contents}}
		{{#ifEquals id @root.context.current.id}}
			<li class="package__content-item package__content-item--current package__text--m">
				{{#if sequenceId}}<div>{{sequenceId}}</div>{{/if}}
				{{title}}
			</li>
		{{else}}
			<li class="package__content-item">
				<a href="{{relativeUrl}}" class="package__link package__text--m">
					{{#if sequenceId}}<div>{{sequenceId}}</div>{{/if}}
					{{title}}
				</a>
			</li>
		{{/ifEquals}}
	{{/each}}
</ul>
{{#ifEquals design.theme 'extra'}}
{{else}}
	<div class="package__link-container--block">
		<a href="{{@root.context.home.url}}" class="package__link--block">
			<span class="package__link-inner--block package__text--m package__text--strong">See all stories in the report</span>
		</a>
	</div>
{{/ifEquals}}
