<div class="o-grid-container o-grid-container--bleed {{#if design.theme}}package--{{design.theme}}{{/if}}">
	<div class="o-grid-row o-grid-row--compact">
		<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
			<div class="package__text package__nav--article-end package__highlight-background">
				<div class="o-grid-container o-grid-container--bleed package__article-end-bar">
					<div class="o-grid-row o-grid-row--compact">
						<div data-o-grid-colspan="12 M6">
							<div class="package__end-title-container package__highlight-background--light">
								<span class="package__end-title package__text--m package__text--strong">Explore the series</span>
							</div>
							{{#if @root.context.next}}
								{{> package/teaser @root.context.next}}
							{{else}}
								{{> package/teaser @root.context.prev}}
							{{/if}}
						</div>
						{{#if descriptionHTML}}
							<div data-o-grid-colspan="hide M6">
								<div class="package__article-end-about package__text--m">
									<div>ABOUT THIS SERIES</div>
									{{{descriptionHTML}}}
								</div>
							</div>
						{{/if}}
					</div>
				</div>
				{{> package/contents}}
			</div>
		</div>
	</div>
</div>
