<div class="o-grid-container o-grid-container--bleed">
	<div class="o-grid-row o-grid-row--compact">
		<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
			<div class="package__text package__nav--end {{#if navigationTheme}}package--{{navigationTheme}}{{/if}}">
				<div class="o-grid-container o-grid-container--bleed package__end-nav-header">
					<div class=" o-grid-row o-grid-row--compact">
						<div class="grid-breach">
							{{#if @root.context.next}}
								{{> teasers/end-nav @root.context.next}}
							{{else}}
								{{> teasers/end-nav @root.context.prev}}
							{{/if}}
							{{#if descriptionHTML}}
								<div class="package__end-nav-description package__text--m">
									<div>ABOUT THIS SERIES</div>
									{{{descriptionHTML}}}
								</div>
							{{/if}}
						</div>
					</div>
				</div>
				{{> package/contents}}
			</div>
		</div>
	</div>
</div>
