<section data-o-component="o-expander" class="package__mid-article o-expander" data-o-expander-shrink-to="hidden"
	data-o-expander-collapsed-toggle-text="" data-o-expander-expanded-toggle-text="">
	<div>Series {{title}}</div>
	<p>{{description}}</p>
	<div class="package__title">Explore the whole series<button class="package__toggle o-expander__toggle" aria-label="explore the whole series"></button></div>
	<div class="o-expander__content">
		{{#if shortenedPackage}}
			{{> package/package-contents shortenedPackage}}
		{{else}}
			{{> package/package-contents contains}}
		{{/if}}
	</div>
</section>
