<div class="package__text package__nav--mid {{#if navigationTheme}}package--{{navigationTheme}}{{/if}}">
	<div data-o-component="o-expander" class="o-expander" data-o-expander-shrink-to="hidden"
		data-o-expander-collapsed-toggle-text="<div class='package__expander-inner package__text--m package__text--strong'>Explore the whole series</div>"
		data-o-expander-expanded-toggle-text="<div class='package__expander-inner package__text--m package__text--strong'>Explore the whole series</div>">
		<div class="package__text--xm">Series <span class="package__text--xm package__text--strong">{{title}}</span></div>
		<div class="package__text--m">{{{descriptionHTML}}}</div>
		<button class="o-expander__toggle package__expander"><span class="n-util-visually-hidden">Explore the whole series</span></button>
		<div class="o-expander__content package__contents">
			{{> package/contents}}
		</div>
	</div>
</div>
