<nav data-o-component="o-expander" class="o-expander package__nav package__highlight-background" data-o-expander-shrink-to="hidden"
	data-o-expander-collapsed-toggle-text="<div class='package__expander-bar package__text--m'>Series <span class='package__text--m package__text--strong'>{{title}}</span></div>"
	data-o-expander-expanded-toggle-text="<div class='package__expander-bar package__text--m'>Series <span class='package__text--m package__text--strong'>{{title}}</span></div>">
	<div class="o-grid-container o-grid-container--bleed">
		<div class="o-grid-row o-grid-row--compact">
			<div data-o-grid-colspan="12">
				<button class="o-expander__toggle package__expander-toggle package__expander-toggle--split"><span class="n-util-visually-hidden">Explore the whole series</span></button>
				<div class="o-expander__content package__contents package__highlight-background">
					{{#if shortenedPackage}}
						{{> package/package-contents shortenedPackage}}
					{{else}}
						{{> package/package-contents contains}}
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</nav>
