<div class="package__article-end-teaser">
	<div class="o-teaser o-teaser--large o-teaser--inverse o-teaser--has-image package__highlight-background" data-o-component="o-teaser">
		<div class="o-teaser__content">
			<div class="o-teaser__meta">
				<span class="o-teaser__tag package__highlight-text">UP NEXT</span>
			</div>
			<h2 class="o-teaser__heading"><a href="{{url}}">{{title}}</a></h2>
			<p class="o-teaser__standfirst">{{standfirst}}</p>
		</div>
		<div class="o-teaser__image-container">
			<div class="o-teaser__image-placeholder image-placeholder">
				<img src="{{mainImage.url}}" class="o-teaser__image" alt="demo image"></img>
			</div>
		</div>
	</div>
</div>
