<ul class="package__list">
	{{#each this}}
		{{#ifEquals id @root.context.current.id}}
			<li class="package__content-item package__content-item--current">
				{{#ifEquals @root.package.sequence 'ordered'}}{{sequenceId}}{{/ifEquals}}
				{{@root.title}}
			</li>
		{{else}}
			<li class="package__content-item">
				<a href="{{url}}" class="package__link">
					{{#ifEquals @root.package.sequence 'ordered'}}{{sequenceId}}{{/ifEquals}}
					{{title}}
				</a>
			</li>
		{{/ifEquals}}
	{{/each}}
</ul>
