@import 'n-ui/main';
@import 'n-ui/myft-hint/main';

@include nUiStylesheetStart('head');
	$o-teaser-is-silent: false;
	@import 'o-teaser/main';
	$o-teaser-collection-is-silent: false;
	@import 'o-teaser-collection/main';
	$o-labels-is-silent: false;
	@import 'o-labels/main';

	[data-o-grid-colspan~=XLoffset1] {
		@include oGridRespondTo(XL) {
			@include oGridOffset(1);
		}
	}
	@import 'helpers';
	@import 'n-content-body/main';

	@import 'n-image/main';
	@import 'components/article/main';
	@import 'components/classifier/main';
	@import 'components/headline/main';
	@import 'components/read-next/main';
	@import 'components/suggested-reads/main';

	.o-labels {
		@include oTypographySansBold('xs');
	}
@include nUiStylesheetEnd('head');

@import 'components/share/main';
@import 'components/ads/main';
$o-expander-is-silent: false;
@import 'o-expander/main';
$o-gallery-is-silent: false;
@import 'o-gallery/main';
$o-video-is-silent: false;
@import 'o-video/main';
@import 'n-barriers/main';
@import 'o-email-only-signup/main';
@import 'components/comments/skeleton';
@import 'components/onward-journey/main';
@import 'components/special-report/main';
@import 'components/story-package';
@import 'components/toc/main';
@import 'components/light-signup/light-signup';
@import 'components/tearsheets/main';
@import 'components/video/main';
@import 'components/ftlabs-audio-player/main';
@import 'components/inline-barrier/main';

// Print Styling
@media print {
	body > section,
	.article__actions,
	.article__aside,
	.article__body > div,
	.article__comments,
	.article__more-on,
	.article__myft-tags-list,
	.article__share,
	.article__tags,
	.core .o-header__search,
	.js-special-report,
	.more-on,
	.more-on--abtest_b--wrapper,
	.more-ons-tags,
	.n-content-copyright,
	.n-content-related-box__image-link,
	.n-myft-ui,
	.next-up,
	.next-up__bottom__wrapper,
	.o-footer,
	.o-footer__container,
	.o-header__container,
	.o-header__drawer,
	.o-header__nav,
	.o-header--sticky,
	.o-header__top-column--left,
	.o-header__top-column--right,
	.pod,
	.section--onward-journey,
	.skeleton,
	.loading-indicator,
	.story-package,
	.table-of-contents {
		display: none !important;
	}

	.o-grid-row {
		display: inherit;
	}

	.o-header__top-logo {
		background-image: none;

		&:after {
			content: url('https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-ft-masthead?source=o-header&tint=%23505050,%23505050&format=svg');
			display: block;
		}
	}

	.n-layout {
		min-height: 0;
	}

	.n-content-image {
		margin: 0 auto 1em;
	}

	.n-image {
		width: 100%;
	}

	// NOTE - horrible! removes the article body's offset, otherwise IE8 leaves it in when printing
	.article__header-inner,
	.article__main {
		> *:first-child {
			margin-left: 0;
			padding-left: 0;
		}
	}

	// We’re already printing the headline URL, so no point showing it again for the image
	// scss-lint:disable QualifyingElement
	.o-teaser__image-container a[href^='/']:after {
		content: '';
	}
	// scss-lint:enable QualifyingElement
}

//TODO: Putting all the teaser-related CSS here.
//Can tidy up/put in the corrrect places once everything else is deleted

.article__aside .o-teaser-collection {
	margin-top: 24px;
}

.standalone-teaser-heading {
	@include font-size(18, 20);
	font-family: $o-typography-sans;
	margin: 0 0 20px;
	font-weight: bold;
	&:after {
		content: '';
		display: block;
		width: 60px;
		margin-top: 5px;
		border-bottom: 4px solid oColorsGetPaletteColor(black);
		position: absolute;
		z-index: 1;
}

}

.o-teaser .n-image-wrapper--placeholder {
	height: 0;
}

//make the myFT follow box look okay with collection styles
.o-teaser-collection {
	position: relative;

	.article__myft-logo {
		width: 48px;
		height: 24px;
	}
	.n-content-tags__intro {
		margin: 0;
	}
	.o-teaser-collection__heading + .n-content-tags__intro {
		padding-top: 0;
	}
	.n-content-tag__list-item--with-follow {
		margin: 0;
	}
}

//make more-on buttons look okay with teaser headings
.o-teaser-collection__heading + .n-myft-ui--follow {
	margin: 0 0 10px;

	@include oGridRespondTo('M') {
		margin: 0;
		position: absolute;
		right: 0;
		top: 18px;
	}
}

.read-next-bottom {
	margin-bottom: 50px;
}


.n-content-related-box .o-teaser {
	margin: 8px 0;
}

.n-content-related-box .standalone-teaser-heading {
	margin-bottom: 0px;
}

.n-content-related-box--no-border {
	border: 0;
	margin-top: 0;
	padding: 0;
}
