@import 'n-ui/main';

/* shared-head.css will always be output in the <head> tag
	 It should be kept as small as possible, and only contain the styles needed to render the above-the-fold content without things jumping around.
*/
@include nUiStylesheetStart('shared-head');
	[data-o-grid-colspan~=XLoffset1] {
		@include oGridRespondTo(XL) {
			@include oGridOffset(1);
		}
	}
	@import 'helpers';
	@import 'n-content-body/main';

	@import 'n-image/main';
	@import 'components/article/main';
	@import 'components/classifier/main';
	@import 'components/share/head';
	@import 'components/topper/main';
	@import 'components/ads/head';
	@import 'n-email-article/main';

	@import 'n-myft-ui/myft-common/main';
	@include nUiMyftCommon(false);


@include nUiStylesheetEnd('shared-head');

/* The blocks below get output into individual stylesheets, which are then selected in /server/lib/choose-stylesheets, based on when/whether they are needed
*/

//Teasers will be put in the head if there is a teaser in the topper, otherwise will be lazily loaded
@include nUiStylesheetStart('teasers');
	@import 'components/teasers/head';
@include nUiStylesheetEnd('teasers');

//These will only be loaded on Package articles and landing pages
@include nUiStylesheetStart('package-head');
	@import 'components/package/head';
@include nUiStylesheetEnd('package-head');

@include nUiStylesheetStart('package-lazy');
	@import 'components/package/main';
@include nUiStylesheetEnd('package-lazy');

//This will be loaded if the topper has a theme
@include nUiStylesheetStart('topper-themed');
	@import 'components/topper/themes';
@include nUiStylesheetEnd('topper-themed');

//Expander styles currently needed for packages and if there is an expandable related box
@include nUiStylesheetStart('expander');
	$o-expander-is-silent: false;
	@import 'o-expander/main';
@include nUiStylesheetEnd('expander');

//Video pages and articles with videos in them
@include nUiStylesheetStart('video');
	@import 'components/video/main';
	$o-video-is-silent: false;
	@import 'o-video/main';
@include nUiStylesheetEnd('video');

@include nUiStylesheetStart('light-signup');
	@import 'o-email-only-signup/main';
	@import 'components/light-signup/light-signup';
@include nUiStylesheetEnd('light-signup');

//Barriers are needed for in-article-barriers
@include nUiStylesheetStart('barrier');
	@import 'n-barriers/main';
@include nUiStylesheetEnd('barrier');

@include nUiStylesheetStart('gallery');
	$o-gallery-is-silent: false;
	@import 'o-gallery/main';
@include nUiStylesheetEnd('gallery');

/* All the below will be output as main.css and lazily loaded */

$n-notification-is-silent: false;
@import 'n-notification/main';
@import 'components/share/main';
@import 'components/ads/main';
@import 'components/comments/skeleton';
@import 'components/onward-journey/main';
@import 'components/story-package';
@import 'components/ftlabs-audio-player/main';
@import 'components/teasers/main';
@import 'n-myft-ui/myft/main';

// Print Styling
@media print {
	body > section,
	.article__aside,
	.article__body > div,
	.article__comments,
	.article__more-on,
	.article__myft-tags-list,
	.article__share,
	.article__tags,
	.core .o-header__search,
	.more-on,
	.more-on--abtest_b--wrapper,
	.more-ons-tags,
	.n-content-copyright,
	.n-content-related-box__image-link,
	.n-myft-ui,
	.next-up,
	.next-up__bottom__wrapper,
	.o-footer,
	.o-footer__container,
	.o-header__container,
	.o-header__drawer,
	.o-header__nav,
	.o-header--sticky,
	.o-header__top-column--left,
	.o-header__top-column--right,
	.pod,
	.section--onward-journey,
	.skeleton,
	.loading-indicator,
	.story-package {
		display: none !important;
	}

	.o-grid-row {
		display: inherit;
	}

	.o-header__top-logo {
		background-image: none;

		&:after {
			content: url('https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-ft-masthead?source=o-header&tint=%23505050,%23505050&format=svg');
			display: block;
		}
	}

	.n-layout {
		min-height: 0;
	}

	.n-content-image {
		margin: 0 auto 1em;
	}

	.n-image {
		width: 100%;
	}

	// NOTE - horrible! removes the article body's offset, otherwise IE8 leaves it in when printing
	.article__header-inner,
	.article__main {
		> *:first-child {
			margin-left: 0;
			padding-left: 0;
		}
	}

	// We’re already printing the headline URL, so no point showing it again for the image
	// scss-lint:disable QualifyingElement
	.o-teaser__image-container a[href^='/']:after {
		content: '';
	}
	// scss-lint:enable QualifyingElement
}
