.article-topper--full-bleed-image-right {
	@include setAllFonts;
	@include alignText(left);
	@include oGridRespondTo(S) {
		@include overlayText;
		@include fullBleedImage;
	}

	@include oGridRespondTo(M) {
		@include alignText(right);
	}

	.article-topper__text-wrapper {
		float: right;
		align-self: flex-end;
	}

	.article-topper__tags {
		width: inherit;
	}

	.article-topper__text {
		width: 50%;
		float: right;
	}
}
