// scss-lint:disable SelectorFormat
.article-topper--full-bleed-text {
	@include alignText(center);
	@include setAllFonts;
	@include resizeTextbox;

	.article-topper__visual {
		display: none;
	}

	.article-topper__headline {
		@include oGridRespondTo(L) {
			font-size: 84px;
			.o-typography--loaded-serifDisplayBold & {
				font-size: 84px * 1.077;
			}
		}
	}
}
