.article-topper--full-bleed-image-right {
	@include alignText(left);
	@include oGridRespondTo(S) {
		@include overlayText;
		@include fullBleedImage;
		@include alignText(right);

		.article-topper__text {
			width: 50%;
			float: right;
		}
	}

	.article-topper__text {
		width: 100%;
	}

	.article-topper__text-wrapper {
		float: right;
	}

	.article-topper__tags {
		width: inherit;
	}
}
