
.article-topper--full-bleed-offset {
	@include alignText(left);
	@include setAllFonts;
	@include fullBleedImage;

	@include oGridRespondTo(S) {
		@include overlayText;
	}

	.article-topper__text-wrapper {
		width: 100%;
		padding: 20px 0 10px;
	}

	.article-topper__extras {
		color: oColorsGetPaletteColor('claret');
	}

	@include oGridRespondTo($until: S) {
		.article-topper__slot-1 {
			height: 0;
			min-height: 0;
		}

		.article-topper__text-wrapper {
			padding-top: 15px;
		}
	};

	.article-topper__offset-container {
		margin: -90px -20px 0;
		padding: 0 20px;
	}

	@include oGridRespondTo(M) {
		.article-topper__offset-container {
			margin-top: -100px;
		}
	}

	@include oGridRespondTo(L) {
		.article-topper__offset-container {
			margin-top: -105px;
		}

		.article-topper__visual {
			margin-bottom: 30px;
		}
	}
}
