.article-topper--full-bleed-text {
	@include alignText(center);
	@include setHeadlineFont(52px, 52px, 32px, 32px);
	@include setStandfirstFont(22px, 26px, 18px, 22px);
	@include resizeTextbox;

	.article-topper__visual {
		display: none;
	}

	.article-topper__headline {
		@include oGridRespondTo(L) {
			font-size: 84px;
			line-height: 84px;
		}
	}
}
