<div class="article__media">
	<div class="video__background-wrapper">
		<div class="o-grid-container">
			<div class="o-grid-row">
				<div class="video__container" data-o-grid-colspan="12">
					{{#if attachments}}
						<div
							class="o-video"
							data-o-component="o-video"
							data-o-video-id="{{video.id}}"
							>
								{{! Add a non-js fallback for core users }}
								<video controls class="video video__core-fallback" poster="{{#resize 1024}}{{mainImage.url}}{{/resize}}" src="{{attachments.0.url}}" preload="none"></video>
						</div>
						<div class="video__placeholder">
							<div class="o-video__info">
								<div class="video__placeholder-info n-util-clearfix">
									{{#if primaryTag}}
										<span class="n-content-tag n-content-tag--medium standalone-teaser-heading">{{primaryTag.prefLabel}}</span>
									{{/if}}
									<span class="video__duration">
										{{formattedDuration}}
									</span>
								</div>
								<h1 class="video__placeholder__headline article-headline">
									<span class="article-classifier__gap">{{title}}</span>
								</h1>
							</div>
							<button class="o-video__play-button">
								<span class="o-video__play-button-text">Play video</span>
								<i class="o-video__play-button-icon"></i>
							</button>
							<div class="video__placeholder__up-next">
								<h4>Up Next</h4>
								<ol class="js-placeholder-up-next"></ol>
							</div>
						</div>
					{{else}}
						<div class="video__error">
							<h1>This video cannot be displayed</h1>
							<p>We just updated our video hub and some videos might take a while till they are accessible. Please come back later or watch the clips below instead.</p>
						</div>
					{{/if}}
				</div>
			</div>
		</div>
	</div>

	<div class="video__content-and-related o-grid-container">
		<div class="o-grid-row">
			<div class="video__info" data-o-grid-colspan="12 L8">
				{{> header/content-video-header}}

				<div class="video__description">
					{{{bodyHTML}}}
				</div>

				<div class="video__date">
					{{#if publishedDate}}
						<time class="o-date" data-o-component="o-date" datetime="{{#dateformat}}{{publishedDate}}{{/dateformat}}" data-o-date-js>
						{{#dateformat "mmm d, yyyy"}}{{publishedDate}}{{/dateformat}}
						</time>
					{{/if}}
				</div>

				{{#if byline}}
					<h5 class="video__byline-label">Credits</h5>
					<p class="video__byline">
						{{byline}}
					</p>
				{{/if}}

				{{#if readNextArticles}}
					<h4 class="video__related-articles-title">Related Articles</h4>
					<ul class="video__related-articles-list">
					{{#each readNextArticles}}
						<li
							class="related_content__list-item{{#ifEquals type 'Video'}} related_content__list-item--video{{/ifEquals}}"
							data-trackable="related-content | {{@index}}">
							<a href="{{relativeUrl}}" data-trackable="related-content-link">
								{{title}}
								{{#ifAll @root.flags.premiumContentIndicator isPremium}}
									<span class="o-labels o-labels--premium-inverted">Premium</span>
								{{/ifAll}}
							</a>
						</li>
					{{/each}}
					</ul>
				{{/if}}

				<div class="video__up-next js-up-next"></div>
			</div>

			{{> right-hand/right-hand-video-player}}
		</div>
	</div>
</div>
