{{#if @root.flags.inArticlePreview}}

	{{!-- TODO: change image to premium image --}}
	{{!-- Inline partial so both variants can share the same image --}}
	{{#*inline "image"}}
		<img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Fstandard_digital.png?width=160&amp;source=next&amp;fit=scale-down" alt="" role="presentation" aria-hidden="true">
	{{/inline}}

	<div class="inline-barrier inline-barrier--{{@root.flags.inArticlePreview}} inline-barrier--no-prices" data-n-component="inline-barrier" data-n-type="{{type}}" data-country-code="{{countryCode}}" data-trackable="inline-barrier">
		<div class="inline-barrier__fader">
			<p class="n-util-visually-hidden">This is the end of your free article preview.</p>
		</div>
		<div class="inline-barrier__content" data-trackable="{{@root.flags.inArticlePreview}}">

			{{#ifEquals @root.flags.inArticlePreview 'psp'}}

				<p class="inline-barrier__description">
					Want to read more?
				</p>
				{{> image }}
				<p>
					<a href="/products?in-article=true" class="o-buttons o-buttons--big o-buttons--standout inline-barrier__button" aria-label="Subscribe to the Financial Times" data-trackable="sign-up-psp">Subscribe to the FT</a>
				</p>

			{{else ifEquals @root.flags.inArticlePreview 'trial'}}

				{{!--
				Note:	This no-prices version is for non-CTM journeys but *also* a fallback for if/when we
						fail to retrieve (client side) offer data.
						Check with the Conversion team to find out why the copy and links are different.
				--}}
				<div class="inline-barrier__if-no-prices" data-trackable="no-prices">
					<p class="inline-barrier__bridge">
						You must have a subscription to read this article.
					</p>
					<p class="inline-barrier__heading">
						Today’s global financial landscape.<br>
						Deciphered.
					</p>
					<p class="inline-barrier__body">
						When it comes to news, comment and analysis, the <span aria-label="Financial Times">FT</span> offers something different.
					</p>
					{{> image }}
					<p class="inline-barrier__cta-primary">
						<a href="/products?in-article=true" class="o-buttons o-buttons--big o-buttons--standout inline-barrier__button" data-trackable="cta-primary">
							View all subscription options
						</a>
					</p>
					<p class="inline-barrier__cta-secondary">
						<a href="http://help.ft.com/help/legal-privacy/terms-conditions/" data-trackable="cta-secondary">
							*Terms &amp; conditions apply.
						</a>
					</p>
				</div>

				{{!-- TODO: Make this a script template --}}
				<div class="inline-barrier__if-has-prices" data-trackable="has-prices">

					<p class="inline-barrier__bridge">
						Want to continue reading?
					</p>
					<p class="inline-barrier__heading">
						4 weeks of unlimited Premium <span aria-label="F T dot com">FT.com</span> access for just
						<span class="js-barrier-trial-price"></span>*
					</p>
					<p class="inline-barrier__body">
					*<span class="js-barrier-trial-price"></span> for 4 weeks, then <span class="js-barrier-trial-after-price"></span> per week thereafter.
						<a href="http://help.ft.com/help/legal-privacy/terms-conditions/" data-trackable="terms-conditions">Terms &amp; conditions</a> apply.
					</p>
					{{> image }}
					<p class="inline-barrier__cta-primary">
						<a href="/signup?offerId=41218b9e-c8ae-c934-43ad-71b13fcb4465&amp;in-article=true" class="o-buttons o-buttons--big o-buttons--standout inline-barrier__button" data-trackable="cta-primary">
							Sign up for <span class="js-barrier-trial-price"></span> trial
						</a>
					</p>
					<p class="inline-barrier__cta-secondary">
						<a href="/products?in-article=true" data-trackable="cta-secondary">
							View all subscription options
						</a>
					</p>

				</div>

			{{/ifEquals}}

		</div>
	</div>
{{/if}}
