$o-icons-image-service-base-url: 'https://www.ft.com/__origami/service/image';
@import 'o-share/main';
@import 'n-email-article/main';

// todo: this module is pretty grim and needs refactoring or deleting in favour of sticky header
@include nUiStylesheetStart('head');
	@include oShareBase(o-share);

	.article__share {
		position: relative;
		padding: 0 0 20px;
		border-bottom: 1px solid getColor('warm-3');
		clear: left;

		> * {
			visibility: hidden;
		}

		&__count {
			@include oTypographySansSize(s);
			overflow: hidden;
			position: relative;
			top: -5px;
			display: none;
			@include oGridRespondTo(S) {
				display: inline;
			}
		}

		&__comments {
			@include oTypographySansSize(s);
			line-height: 40px;
			position: relative;
			border-bottom-width: 0;
			margin-right: 10px;
			padding-left: 24px;
		}

		&__print {
			display: none;
			position: relative;
			width: 17px;
			height: 24px;
			border-bottom-width: 0;
			float: left;
			margin-right: 16px;
			@include oGridRespondTo(M) {
				display: block;
			}
		}

		&--bottom {
			clear: left;
			padding: 20px 0;
		}

		.comment_plus_save {
			float: right;
		}

		.o-share {
			display: block; // prevent inline-block spacing issue
		}

		.o-share__action a {
			border-bottom-width: 0;
		}

		.o-share__action--twitter a {
			padding-left: 0;
		}

		.o-share__action--linkedin {
			@include oGridRespondTo($until: S) {
				display: none;
			}
		}

		.o-share__action--whatsapp {
			@include oGridColspan((S: hide));
			padding: 0;
		}

		.article__save {
			float: right;
		}

		.n-myft-ui__button {
			@include oButtonsSize(big);
			min-height: 42px;
			@include oGridRespondTo($until: S) {
				padding: 4px 8px;
			}
		}

	}

	.article__main .email-article .email-article__border {
		border-top: 0;
	}

	.core .article__main .article__share-action--email {
		display: none;
	}

	.article__main .article__share-bottom-gutter--top {
		margin-bottom: 15px;
	}

	.article__main .article__share-bottom-gutter--bottom {
		margin-bottom: 20px;
	}

@include nUiStylesheetEnd('head');


@include oShareInverse('o-share');
// Lazy load all the icons
.article__share {
	$icon-size: 40;
	$icon-padding: ($icon-size / 100) * 25;

	> * {
		visibility: visible;
	}

	&__comments,
	&__print {
		&:before {
			@include oIconsGetIcon('speech', getColorFor('link', 'text'), $icon-size, $iconset-version: 1);
			content: '';
			position: absolute;
			left: -#{$icon-padding}px;
		}
	}

	&__print {
		&:before {
			@include oIconsGetIcon('print', getColor('cold-1'), $icon-size, $apply-base-styles: false, $apply-width-height: false, $iconset-version: 1);
		}
	}
}

@include oShareActionIcon(facebook, o-share);
@include oShareActionIcon(twitter, o-share);
@include oShareActionIcon(whatsapp, o-share);
@include oShareActionIcon(linkedin, o-share);
@include oShareActionIcon(mail, o-share);
