$o-icons-image-service-base-url: 'https://www.ft.com/__origami/service/image';
@import 'o-share/main';

@include oShareInverse('o-share');
// Lazy load all the icons
.article__share {
	$icon-size: 40;
	$icon-padding: ($icon-size / 100) * 25;

	> * {
		visibility: visible;
	}

	&__comments,
	&__print {
		&:before {
			@include oIconsGetIcon('speech', getColorFor('link', 'text'), $icon-size, $iconset-version: 1);
			content: '';
			position: absolute;
			left: -#{$icon-padding}px;
		}
	}

	&__print {
		&:before {
			@include oIconsGetIcon('print', getColor('cold-1'), $icon-size, $apply-base-styles: false, $apply-width-height: false, $iconset-version: 1);
		}
	}
}

@include oShareActionIcon(facebook, o-share);
@include oShareActionIcon(twitter, o-share);
@include oShareActionIcon(whatsapp, o-share);
@include oShareActionIcon(linkedin, o-share);
@include oShareActionIcon(mail, o-share);
