// TODO: replace with o-colors once new o-colors is released

$yellow: #ffec1a;
$yellowLight: #fff04d;
$wheat: #f3dec8;
$wheatDark: #e8cdb0;
$claret: #b31147;
$claretDark: #660a28;
$claretDarkest: #4c071e;
