.package__contents {
	background-color: $wheat;

	.package--extra & {
		background-color: getColor('slate');
	}

	@include oGridRespondTo($from: M) {
		.package__nav--top & {
			width: 100%;
			position: absolute;
			right: 16px;
			max-width: 320px;
			@include nUiZIndexFor('welcome');
			@include oEffectsShadowsElevation('ultralow', getColor('black'));
		}
	}
}

.package__content-border {
	border-top: 1px solid;
	border-top-color: rgba(getColor('grey-tint5'), 0.2);

	.package--extra & {
		border-top-color: rgba(getColor('white'), 0.2);
	}
}

.package__content-item {
	display: block;
	color: inherit;
	border-bottom: 0;
	padding: 15px 15px 15px 20px;

	&.package__content-item:hover {
		color: $claret;
		border-left: solid 10px;
		border-left-color: $claretDark;
		padding-left: 10px;
	}

	&[aria-selected="true"] {
		border-left: solid 10px;
		border-left-color: $claret;
		padding-left: 10px;
		background-color: $wheatDark;
	}

	.package--extra & {
		color: getColor('white');
	}

	.package--extra &[aria-selected="true"] {
		color: $yellow;
		border-left-color: $yellow;
		background-color: getColor('black');
	}

	.package--extra &:hover {
		color: $yellow;
		border-left: solid 10px;
		border-left-color: $yellowLight;
		padding-left: 10px;
	}
}

.package__contents-footer {
	position: relative;
	height: 40px;
	margin: 20px;
	display: inline-block;
	width: calc(100% - 40px);
}
