@import 'colors';

$expander-themes: (
	'basic': (
		'unexpanded':(
			'body': (
				'fg': $claret,
				'bg': $wheat
			),
			'icon': (
				'fg': getColor('white'),
				'bg': $claret,
				'hover': $claretDark
			)
		),
		'expanded':(
			'body': (
				'fg': $claret,
				'bg': $wheat
			),
			'icon': (
				'fg': getColor('white'),
				'bg': $claret,
				'hover': $claretDark
			)
		)
	),
	'special-report': (
		'unexpanded': (
			'body': (
				'fg': getColor('white'),
				'bg': $claret
			),
			'icon': (
				'fg': getColor('white'),
				'bg': $claretDark,
				'hover': $claretDarkest
			)
		),
		'expanded': (
			'body': (
				'fg': getColor('white'),
				'bg': $claretDark
			),
			'icon': (
				'fg': getColor('white'),
				'bg': $claret,
				'hover': $claretDarkest
			)
		)
	),
	'extra': (
		'unexpanded': (
			'body': (
				'fg': $yellow,
				'bg': getColor('slate')
			),
			'icon':(
				'fg': getColor('slate'),
				'bg': $yellow,
				'hover': $yellowLight
			)
		),
		'expanded': (
			'body': (
				'fg': getColor('slate'),
				'bg': $yellow
		),
			'icon':(
				'fg': $yellow,
				'bg': getColor('slate'),
				'hover': getColor('black')
			)
		)
	)
);

@function getThemeColor($theme-name, $expanded-state, $element-name, $property) {
	$theme: map-get($expander-themes, $theme-name);
	$state: map-get($theme, $expanded-state);
	$element: map-get($state, $element-name);
	@return map-get($element, $property);
};
