@import 'expander-themes';

.package__expander {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 50%;
		width: 100vw;
		margin-left: -50vw;
		background: inherit;
		top: 0;
		height: 100%;
	}

	&:after {
		background-repeat: no-repeat;
		background-position: center;
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 50px;
		@include oGridRespondTo($from: M) {
			right: 16px;
		}
		@include oGridRespondTo($from: L) {
			width: 80px;
		}
	}

	& > i {
		display: none;
	}

}

.package__expander-inner {
	box-sizing: border-box;
	padding: 0.5em 0.5em 0.5em 10px;
	height: 40px;
	position: relative;
	text-align: left;
	@include oGridRespondTo($from: M) {
		padding-left: 16px;
	}
}

@each $theme-name, $theme in $expander-themes {

	.package--#{$theme-name} .package__expander {

		& {
			background-color: getThemeColor($theme-name, 'unexpanded', 'body', 'bg');
			color: getThemeColor($theme-name, 'unexpanded', 'body', 'fg');
		}

		&:after {
			background-color: getThemeColor($theme-name, 'unexpanded', 'icon', 'bg');
			@include oIconsGetIcon(
				$icon-name: 'arrow-down',
				$color: getThemeColor($theme-name, 'unexpanded', 'icon', 'fg'),
				$apply-base-styles: false,
				$apply-width-height: false
			);
		}

		&[aria-expanded="true"] {
			background-color: getThemeColor($theme-name, 'expanded', 'body', 'bg');
			color: getThemeColor($theme-name, 'expanded', 'body', 'fg');
		}

		&[aria-expanded="true"]:after {
			background-color: getThemeColor($theme-name, 'expanded', 'icon', 'bg');

			$unexpandedColor: getThemeColor($theme-name, 'unexpanded', 'icon', 'fg');
			$expandedColor: getThemeColor($theme-name, 'expanded', 'icon', 'fg');

			@if $expandedColor == $unexpandedColor {
				transform: rotate(180deg);
			} @else {
				@include oIconsGetIcon(
					$icon-name: 'arrow-up',
					$color: getThemeColor($theme-name, 'expanded', 'icon', 'fg'),
					$apply-base-styles: false,
					$apply-width-height: false
				);
			}
		}

		&:hover {
			background-color: getThemeColor($theme-name, 'unexpanded', 'body', 'hover');
		}

		&:hover:after {
			background-color: getThemeColor($theme-name, 'unexpanded', 'icon', 'hover');
		}

		&[aria-expanded="true"]:hover {
			background-color: getThemeColor($theme-name, 'expanded', 'body', 'hover');
		}

		&[aria-expanded="true"]:hover:after {
			background-color: getThemeColor($theme-name, 'expanded', 'icon', 'hover');
		}

	}

}
