@import 'expander-themes';

.package__expander {
	width: 100%;

	& > i {
		display: none;
	}

	&:after {
		background-repeat: no-repeat;
		background-position: center;
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 50px;
	}

	.package__nav--mid & {
		position: relative;
	}

	.package__nav--top & {
		&:before {
			content: '';
			position: absolute;
			left: 50%;
			width: 100vw;
			margin-left: -50vw;
			background: inherit;
			top: 0;
			height: 100%;
		}
		&:after {
			@include oGridRespondTo($from: M) {
				right: 16px;
			}
			@include oGridRespondTo($from: L) {
				width: 80px;
			}
		}
	}
}

.package__expander-inner {
	box-sizing: border-box;
	padding: 0.5em 0.5em 0.5em 10px;
	height: 40px;
	position: relative;
	text-align: left;
	@include oGridRespondTo($from: M) {
		padding-left: 16px;
	}
}

@mixin getExpanderThemes($theme-name, $nav-type) {

	.package--#{$theme-name}.package__nav--#{$nav-type} .package__expander {

		& {
			background-color: getThemeColor($theme-name, $nav-type, 'unexpanded', 'body', 'bg');
			color: getThemeColor($theme-name, $nav-type, 'unexpanded', 'body', 'fg');
		}

		&:after {
			background-color: getThemeColor($theme-name, $nav-type, 'unexpanded', 'icon', 'bg');
			@include oIconsGetIcon(
				$icon-name: 'arrow-down',
				$color: getThemeColor($theme-name, $nav-type, 'unexpanded', 'icon', 'fg'),
				$apply-base-styles: false,
				$apply-width-height: false
			);
		}

		&[aria-expanded="true"] {
			background-color: getThemeColor($theme-name, $nav-type, 'expanded', 'body', 'bg');
			color: getThemeColor($theme-name, $nav-type, 'expanded', 'body', 'fg');
		}

		&[aria-expanded="true"]:after {
			background-color: getThemeColor($theme-name, $nav-type, 'expanded', 'icon', 'bg');

			$unexpandedColor: getThemeColor($theme-name, $nav-type, 'unexpanded', 'icon', 'fg');
			$expandedColor: getThemeColor($theme-name, $nav-type, 'expanded', 'icon', 'fg');
			@if $expandedColor == $unexpandedColor {
				transform: rotate(180deg);
			} @else {
				@include oIconsGetIcon(
					$icon-name: 'arrow-up',
					$color: getThemeColor($theme-name, $nav-type, 'expanded', 'icon', 'fg'),
					$apply-base-styles: false,
					$apply-width-height: false
				);
			}
		}

		&:hover {
			background-color: getThemeColor($theme-name, $nav-type, 'unexpanded', 'body', 'hover');
		}

		&:hover:after {
			background-color: getThemeColor($theme-name, $nav-type, 'unexpanded', 'icon', 'hover');
		}

		&[aria-expanded="true"]:hover {
			background-color: getThemeColor($theme-name, $nav-type, 'expanded', 'body', 'hover');
		}

		&[aria-expanded="true"]:hover:after {
			background-color: getThemeColor($theme-name, $nav-type, 'expanded', 'icon', 'hover');
		}

	}

}

@each $theme-name, $theme in $themes {
	@include getExpanderThemes($theme-name, $nav-type: 'top');
	@include getExpanderThemes($theme-name, $nav-type: 'mid');
}
