$pkgYellow: #ffec1a;

.package__contents {
	width: 100%;
	max-width: 490px;
	position: absolute;
	right: 0;
	z-index: 99;
}

.package__content-item {
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.package__content-item--current {
	color: $pkgYellow;
	border-right: $pkgYellow solid 15px;

	padding: 1em;
}

.package__content-item:last-child {
	border: 0;
}

.package__link {
	border: 0;
	color: inherit;

	display: block;
	padding: 15px 15px 15px 20px;
}

.package__list {
	list-style: none;
	padding: 0;
	margin: 0;
}
