$pkgYellow: #ffec1a;
$darkClaret: #780032;

.package__contents {
	width: 100%;
	position: absolute;
	right: 0;
	z-index: 99;
	@include oGridRespondTo($from: M) {
		max-width: 320px;
	}
}

.package__content-item {
	border-bottom: 1px solid #979797;
}

.package__content-item--current {
	padding: 1em 1em 1em 10px;
	border-left: solid 10px;
	border-left-color: getColor('claret');
}

.package__content-item:last-child {
	border-bottom: 0;
}

.package__link {
	border: 0;
	color: inherit;

	display: block;
	padding: 15px 15px 15px 20px;
}

.package__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.package__link--block {
	background-color: getColor('claret');
	color: getColor('white');
	border: 0;
	height: 40px;
	display: block;
	position: relative;
}

.package__link--block.package__link--block:hover {
	color: getColor('white');
	background-color: $darkClaret;
}

.package__link-container--block {
	padding: 20px;
}

.package__link-inner--block {
	padding: 9px;
	display: block;
}

.package__link-inner--block:after {
	background-repeat: no-repeat;
	background-position: center;
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50px;
	background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-right?source=next-article&tint=%23ffffff,%23ffffff&format=svg);
}

.package--extra {
	.package__content-item--current {
		color: $pkgYellow;
		border-left-color: $pkgYellow;
	}

	.package__content-item {
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		color: getColor('white');
	}

	.package__link--block {
		background-color: $pkgYellow;
		color: getColor('slate');
	}

	.package__link--block.package__link--block:hover {
		color: getColor('slate');
		background-color: $pkgYellow;
	}

	.package__link-inner--block:after {
		background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-right?source=next-article&tint=%23252830,%23252830&format=svg);
	}
}
