$claret: #B31147;
$pkgYellow: #ffec1a;

.package__nav--article-end {
	margin-top: 20px;
	margin-bottom: 2em;
	@include oGridRespondTo($from: M) {
		margin-left: 15px;
		margin-right: 15px;
	}
	@include oGridRespondTo($from: L) {
		margin-right: 10px;
	}
}

.package__article-end-bar {
	padding-bottom: 40px;
}

.package__end-title-container {
	height: 115px;
	margin-top: -26px;
}

.package__end-title {
	display: inline-block;
	padding-left: 20px;
	padding-top: 30px;
}

.package__article-end-teaser {
	margin-top: -32px;
	margin-right: 20px;
	margin-left: 20px;
	@include oGridRespondTo($from: M) {
		margin-right: 0;
	}
}

.package__article-end-about {
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 71px;
}

.package__article-end-about > p {
	margin: 0;
}

.package__no-bottom-margin {
	margin-bottom: 0;
}

.o-teaser__content.package__highlight-border:hover > h2 {
	color: $claret;
}

.package--extra {

	.package__article-end-about {
		color: getColor('white');
	}

	.o-teaser__content.package__highlight-border:hover > h2 {
		color: $pkgYellow;
	}

}
