@import 'colors';

.package__nav--end {
	margin-top: 20px;
	margin-bottom: 2em;
	background-color: $wheat;

	@include oGridRespondTo($from: M) {
		margin-left: 15px;
		margin-right: 15px;
	}

	@include oGridRespondTo($from: L) {
		margin-right: 10px;
	}

	&.package--extra {
		background-color: getColor('slate');
	}
}

.package__end-nav-header {
	padding-bottom: 40px;
}

.package__end-nav-title {
	background-color: $claret;
	color: getColor('white');
	box-sizing: border-box;
	height: 115px;
	margin-top: -26px;
	padding-left: 20px;
	padding-top: 30px;

	.package--extra & {
		background-color: $yellow;
		color: getColor('slate');
	}
}

.package__end-nav-teaser {
	margin-top: -32px;
	margin-right: 20px;
	margin-left: 20px;

	@include oGridRespondTo($from: M) {
		margin-right: 0;
	}
}

.package__end-nav-description {
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 71px;

	& > p {
		margin: 0;
	}

	.package--extra & {
		color: getColor('white');
	}
}

// TODO: delete once teaser is split out

.package__highlight-background {
	background-color: $wheat;
}

.package__nav--end .o-teaser {
	margin-bottom: 0;
}

.package--extra {

	.o-teaser__heading {
		color: getColor('white');
	}

	.package__highlight-border.package__highlight-border,
	.package__article-end-teaser .package__highlight-border.package__highlight-border:after {
		border-color: $yellow;
	}

	.package__highlight-background {
		background-color: getColor('slate');
	}

	.package__highlight-border.package__highlight-border,
	.package__end-nav-teaser-container .package__highlight-border.package__highlight-border:after {
		border-color: $yellow;
	}

	.o-teaser__heading {
		color: getColor('white');
	}

}
