@import 'expander';
@import 'contents';
@import 'text';

.package__highlight-background {
	background-color: #f3dec8;
}

.package__highlight-background--light {
	background-color: getColor('claret');
	color: getColor('white');
}

.package__highlight-text {
	color: #33302c;
}

.package--extra {
	.package__highlight-background {
		background-color: getColor('slate');
	}

	.package__highlight-background--light {
		background-color: $pkgYellow;
		color: getColor('slate');
	}

	.package__highlight-text {
		color: $pkgYellow;
	}

	.package__highlight-border.package__highlight-border,
	.package__article-end-teaser .package__highlight-border.package__highlight-border:after {
		border-color: $pkgYellow;
	}

	.o-teaser__heading {
		color: getColor('white');
	}
}
