$pkgYellow: #ffec1a;
$pkgBlack: #252830;

.package__nav--top {
	background-color: $pkgBlack;
}

.package__nav--in-article {
	@include oTypographySans(m);
	margin-top: 2.5em;
	margin-bottom: 2em;
	border-top: 1px rgba(0, 0, 0, 0.2) solid;
	border-left: 1px rgba(0, 0, 0, 0.2) solid;
	padding: 0.5em 0 0.5em 0.5em;
}

.package__nav--article-end {
	@include oTypographySans(m);
	background-color: $pkgBlack;
	margin-top: 20px;
	margin-bottom: 2em;
}

.package__expander-toggle {
	display: block;
	width: 100%;
	position: relative;
}

.package__expander-bar {
	display: block;
	padding: 0.5em;
	font-size: 1.5em;
	text-align: left;
}

.package__expander-bar:after {
	background-repeat: no-repeat;
	background-position: center;
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50px;

	@include oGridRespondTo($from: L) {
		width: 80px;
	}
}

.package__expander-bar--split-expanded {
	background-color: $pkgYellow;
	color: $pkgBlack;
}

.package__expander-bar--split-expanded:after {
	background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-up?source=next-article&tint=%23ffec1a,%23ffec1a&format=svg);
	background-color: $pkgBlack;
}

.package__expander-bar--split-collapsed {
	background-color: $pkgBlack;
	color: $pkgYellow;
}

.package__expander-bar--split-collapsed:after {
	background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-down?source=next-article&tint=%23252830,%23252830&format=svg);
	background-color: $pkgYellow;
}

.package__expander-bar--solid-collapsed {
	background-color: $pkgYellow;
	color: $pkgBlack;
}

.package__expander-bar--solid-collapsed:after {
	background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-down?source=next-article&tint=%23252830,%23252830&format=svg);
	background-color: $pkgYellow;
}

.package__article-end-bar {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.package__article-end-title {
	display: block;
	padding: 1em 0;
	padding-left: 20px;
	background-color: $pkgYellow;
	color: $pkgBlack;
	font-size: 1.5em;
	height: 50px;
	margin-top: -20px;
}

.package__article-end-teaser {
	padding: 1em 0;
	margin-top: -76px;
	margin-right: 20px;
	margin-left: 20px;

	@include oGridRespondTo($from: M) {
		margin-right: 0;
	}
}

.package__contents {
	width: 100%;
	max-width: 490px;
	position: absolute;
	right: 0;
	z-index: 99;
	background-color: $pkgBlack;
}

.package__content-item {
	color: white;
	font-size: large;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.package__content-item--current {
	color: $pkgYellow;
	border-right: $pkgYellow solid 1em;

	padding: 1em;
}

.package__content-item:last-child {
	border: 0;
}

.package__link {
	border: 0;
	color: inherit;

	display: block;
	padding: 1em;
}

.package__expander-toggle i {
	display: none;
}

.package__in-article-container {
	display: inline-block;
	width: 100%;
}

.package__article-end-about {
	color: white;
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 60px;
}

.package__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.package__highlight-background {
	background-color: $pkgBlack;
}

.package__highlight-text {
	color: $pkgYellow;
}

.package__text--strong {
	@include oTypographySansBold(m);
}
