.package__text {
	@include oTypographySans(m, $load-progressively: true);
	-webkit-font-smoothing: antialiased;
}

.package__text--m {
	font-size: 18px;
}

.package__text--xm {
	font-size: 22px;
}

.package__text--l {
	font-size: 24px;
}

.package__text--strong {
	@include oTypographySansBold(m, $load-progressively: true);
}

// scss-lint:disable SelectorFormat
.o-typography--loaded-sansBold .package__text--m {
	font-size: 18px;
}

.o-typography--loaded-sansBold .package__text--l {
	font-size: 24px;
}

.o-typography--loaded-sansBold .package__text--xm {
	font-size: 22px;
}
// scss-lint:enable SelectorFormat

.package__text--highlit {
	color: #33302c;
}

.package--extra {
	.package__text--highlit {
		color: $pkgYellow;
	}
}
