{{#defineBlock 'globalDataAttributes'}}data-content-id="{{id}}"{{/defineBlock}}
{{#defineBlock 'head'}}
{{> rel-canonical}}
{{> rel-alternate}}
{{#unless @root.flags.newSchema}}
{{> schemaDotOrg}}
{{/unless}}
{{#if isPremium}}
<meta name="robots" content="noindex">
{{/if}}
<link rel="amphtml" href="https://amp.ft.com/content/{{id}}" />
<meta name="description" content="{{description}}"/>
<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-expander@^4.2.2" />
<script src="https://build.origami.ft.com/v2/bundles/js?modules=o-expander@^4.2.2"></script>
{{/defineBlock}}
<article
	id="site-content"
	role="main"
	class="article{{#if designGenre}} article--brand{{/if}}"
	data-content-id="{{id}}"
	data-syndicatable="{{canBeSyndicated}}">

	{{> topper/main}}

	<div class="o-grid-container">
		<div class="o-grid-row">
			<div data-o-grid-colspan="12 L8">
				{{#bigTeasers}}
					<div class="o-grid-container o-grid-container--bleed">
						<div class="o-grid-row o-teaser-collection">
							{{#each items}}
								<div data-o-grid-colspan="12 M6" class="o-teaser-collection__item--stretched">
									{{>n-teaser/templates/heavy presenter="	package" mods=(array 'hero' 'centre' 'stretched')
													colspan='{"default": 12, "L": 12}' position='{"L": "top"}' widths="[600, 332]"
													noHeadshot=true isEditorsChoice=false isOpinion=false
													lazyLoad=(gt @index 1) streamProperties=../../primaryBrandTag
									}}
								</div>
							{{/each}}
						</div>
					</div>
				{{/bigTeasers}}

				{{#littleTeasers}}

					<div class="o-ads in-article-advert advert"
								data-o-ads-name="second-mpu"
								data-o-ads-center="true"
								data-o-ads-label="true"
								data-o-ads-targeting="pos=mid;"
								data-o-ads-formats-default="MediumRectangle,Responsive"
								data-o-ads-formats-small="MediumRectangle,Responsive"
								data-o-ads-formats-medium="false"
								data-o-ads-formats-large="false"
								data-o-ads-formats-extra="false"
								data-o-ads-collapse-empty="true"
								aria-hidden="true"></div>

					<div class="o-teaser-collection">
						{{#if title}}
							<h2 class="o-teaser-collection__heading">{{ title }}</h2>
						{{/if}}
						{{#each items}}
							<div class="o-teaser-collection__item">
								{{>n-teaser/templates/heavy mods=(array 'small')
										widths="[500,335]" streamProperties=../../primaryBrandTag
										noHeadshot=true isEditorsChoice=false
										isOpinion=false hasImage=true lazyLoad=false}}
							</div>
						{{/each}}
					</div>
				{{/littleTeasers}}
			</div>

			<div data-o-grid-colspan="hide L4" style="text-align:center;" aria-hidden="true">
				<div style="padding:20px 0;background-color: #f3dec8">
				{{> ads/mid}}
				</div>
			</div>
		</div>
	</div>

	{{>propensity-messaging-promo-unit}}

	<script type="text/json" id="dehydrated-metadata">{{{json dehydratedMetadata}}}</script>
</article>
