<div class="article__fragment">
	{{#if mainImageHtml}}
		{{{mainImageHtml}}}
	{{/if}}
	{{#ifEquals contentType 'article'}}
		{{> body-article}}
	{{/ifEquals}}
	{{#ifEquals contentType 'podcast'}}
		{{#if standfirst}}
			<div class="article__body n-content-body" data-trackable="article-body">
				<p>{{{standfirst}}}</p>
			</div>
		{{/if}}
		<div class="article__media">
			{{#with media}}
			<audio controls>
				<source src="{{url}}" type="{{mediaType}}" />
				<p>
					Your browser does not support playing this file but you can still <a href="{{url}}">download the MP3 file</a> to play locally.
				</p>
			</audio>
			{{/with}}
		</div>
		{{> body-podcast}}
	{{/ifEquals}}
	{{#if tags}}
		<div class="n-content-tags__wrapper--inline" role="complementary">
			<p>Latest stories on</p>
			<ul class="n-content-tags__list--inline" data-trackable="tags">
				{{#each tags}}
				<li>
					<a
						href="{{relativeUrl}}"
						class="n-content-tag n-content-tag--horizontal-list"
						data-trackable="tag"
						{{#if idV1}}data-concept-id="{{idV1}}"{{/if}}>{{prefLabel}}</a>
				</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}
</div>
