{{!--
Note:	This no-prices version is for core/non-CTM journeys but *also* a fallback for if/when we
		fail to retrieve (client side) offer data.
		Check with the Conversion team to find out why the copy and links are different.
--}}
<div class="inline-barrier__if-no-prices" data-trackable="no-prices">
	<p class="inline-barrier__bridge">
		You must have a subscription to read this article.
	</p>
	<p class="inline-barrier__heading">
		Today’s global financial landscape.<br>
		Deciphered.
	</p>
	<p class="inline-barrier__body">
		When it comes to news, comment and analysis, the <span aria-label="Financial Times">FT</span> offers something different.
	</p>
	{{> image }}
	<p class="inline-barrier__cta-primary">
		<a href="/products?in-article=true" class="o-buttons o-buttons--big o-buttons--standout inline-barrier__button" data-trackable="cta-primary">
			View all subscription options
		</a>
	</p>
	<p class="inline-barrier__cta-secondary">
		<a href="http://help.ft.com/help/legal-privacy/terms-conditions/" data-trackable="cta-secondary">
			*Terms &amp; conditions apply.
		</a>
	</p>
</div>
