
.article__wrapper {
	background-color: getColor('pink');
}

.article__meta {
	margin: 20px 0 0;
}
.article__time-byline {
	margin: 15px 0;
}
.article__byline {
	@include oTypographySans('s', $load-progressively: true);
	display: inline;
	margin: 0;
}
.article__timestamp {
	@include oTypographySans('xs', $load-progressively: true);
	color: oColorsGetColorFor(timestamp, text);
	text-transform: uppercase;
}

.article__body {
	position: relative;
}

.article__primary-theme {
	margin: 0 0 5px;
}

.article__main {
	padding-top: 15px;
	padding-bottom: 30px;
	&__content {
		@include oGridCenter;
		@include oGridColspan((default: 12, S: 11, L: 8, XL: 7));
		@include oGridRespondTo(L) {
			@include oGridUncenter;
		}
	}

	&__rail {
		@include oGridOffset(0);
		@include oGridColspan((default: hide, L: 4));

		@include oGridRespondTo(XL) {
			@include oGridPush(1);
		}
	}
}
.article__media {
	margin-bottom: 20px;

	audio,
	video {
		width: 100%;
	}
}

.article__gallery {
	line-height: initial;
}

.article__aside {
	@include oGridRespondTo($from: L, $until: XL) {
		width: 310px;
	}
	@include oGridRespondTo($from: XL) {
		padding-left: 0;
	}
}

.article__interactive {
	border: 0;
}

.o-ads {
	@include oGridRespondTo($from: S, $until: L) {
		clear: left;
	}
}

.article__myft-logo {
	@include nGetImage('logo', 'brand-myft', getColorFor(title, text), 26);
	width: 40px;
}
