.article__topper--slot-2 {
	// display: inline-flex;
	// flex-direction: column;
	// @include oGridRespondTo(M) {
	// 	display: flex;
	// 	flex-direction: row;
	// }
}

.article__topper--text-box {
	background-color: oColorsGetPaletteColor('claret');
	height: 75vw;
	@include oGridRespondTo(M) {
		height: 50vw;
	}
}

.article__topper--text-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.article__topper--extras {
	// all of teh hacks!!
	width: 75%;
	margin-top: 5%;

	@include oGridRespondTo(L) {
		width: 50%;
	}

	.article__primary-theme {
		> span > form > button {
			@include oButtonsTheme(inverse);
			border-radius: 0;
			background-color: transparent;

			&:before {
				background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:plus?source=o-icons&tint=ffffff');
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.2) !important;
			}
		}

		.n-content-tag {
			color: white;
			-webkit-font-smoothing: antialiased;
		}
	}
}

.article__topper--headline {
	align-self: center; // flex-end with bleed?
	// font-family: 'Financier Display', serif ;
	// font-weight: 600;
	@include oTypographyBigNumber;
	font-size: 36px;
	color: white;
	width: 75%;
	-webkit-font-smoothing: antialiased;

	@include oGridRespondTo(L) {
		width: 50%;
		font-size: 52px;
	}

	&:after {
		content: '';
		display: block;
		width: 33%;
		border-bottom: 8px solid white;
		margin-top: 20px;
	}
}

.article__topper--stand-first {
	align-self: center; // flex-end with bleed?
	font-size: 18px;
	line-height: 24px;
	color: white;
	width: 75%;
	-webkit-font-smoothing: antialiased;

	@include oGridRespondTo(L) {
		font-size: 22px;
		line-height: 26px;
		width: 50%;
	}
}

.article__topper--visual {
	// much hacks
	@include oGridRespondTo($until: L) {
		margin-bottom: 10%;
	}
	> figure {
		width: calc(100vw - 20px) !important;
	  > div {
			@include oGridRespondTo($until: M) {
				padding-bottom: 60% !important;
			}
			padding-bottom: 50vw !important;
		}
	}

	.n-content-image {
		margin: 0;

		.n-image-wrapper--placeholder {
			.n-image {
				object-fit: cover;
				// object-position: 25%;
				height: 100%;
			}
		}
	}

	.n-content-image__caption {
		position: absolute;
		text-align: right;
		width: 35%;
		right: 1.5em;
		@include oGridRespondTo($until: L) {
			width: 55%;
			right: 0.5em;
		}

	}
}
