@mixin colorBorder($color) {
	.article-topper__headline::after {
		border-bottom: 6px solid $color;
		@include oGridRespondTo($from: M) {
			border-bottom-width: 8px;
		}
	}
}

@mixin setButtonColor($theme, $hex) {
	.article-topper__extras {
		button {
			@include oButtonsTheme($theme);
			border-radius: 0;
			background-color: transparent;

			&::before {
				background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:plus?source=o-icons&tint=#{$hex}');
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.2) !important;
			}
		}
	}
}

// maybe a little hack. but it looks lovely in the topper :)
// @include oGridRespondTo(M) {
// 	@include oFontsInclude(FinancierDisplayWeb, bold);
// };

$colors: 'white', 'black', 'claret', 'blue', 'pink', 'slate';
@each $color in $colors {
	[data-textbox-background~='#{$color}'] {
		$text-color: black;
		$contrast: lightness(oColorsGetPaletteColor($color));
		@include setButtonColor(uncolored, '000000');
		@if $contrast <= 50% {
			$text-color: white;
			@include setButtonColor(inverse, ffffff);
		}
		@include colorBorder($text-color);
		background-color: oColorsGetPaletteColor('#{$color}');
		color: $text-color;
	}
}

@mixin alignBorder($position) {
	$value: ("left": 0, "center": 33%, "right": 66%);
	.article-topper__headline::after {
		content: '';
		display: block;
		width: 33%;
		margin: 20px 0 40px map-get($value, #{$position});
	}
}

@mixin alignText($position) {
	@include alignBorder($position);
	.article-topper__text-wrapper {
		text-align: $position;
	}
}

@mixin resizeTextbox {
	.article-topper__text-wrapper {
		width: 100%;
		padding: 0;
	}

	.article-topper__headline {
		margin-top: 20px;
		@include oGridRespondTo(M) {
			&::after {
				margin-top: 40px;
			}
		}
	}

	.article-topper__stand-first {
		@include oGridRespondTo(M) {
			width: 50%;
			margin: 0 auto;
		}
	}
}

@mixin overlayText {
	.article-topper__background {
		position: absolute;
		top: 0;
		left: 0;
		height: inherit;
		min-height: inherit;
		width: 100%;
	}
}

@mixin setTypeStyles($l-size, $l-height) {
	@include setHeadlineFont($l-size, $l-height, 32px, 32px);
	@include setStandfirstFont(22px, 26px, 18px, 22px);
}

@mixin setHeadlineFont($size-l, $height-l, $size-s, $height-s) {
	.article-topper__headline {
		@include oTypographySerifDisplayBold(xl, $load-progressively: false);
		// @include oTypographyBold;
		@include setResponsiveType($size-l, $height-l, $size-s, $height-s);
	}
}

@mixin setStandfirstFont($size-l, $height-l, $size-s, $height-s) {
	.article-topper__stand-first {
		@include oTypographySans(m);
		@include setResponsiveType($size-l, $height-l, $size-s, $height-s);
		opacity: 0.8;
	}
}

@mixin setResponsiveType($size-l, $height-l, $size-s, $height-s) {
	@include oGridRespondTo($until: L) {
		font-size: $size-s;
		line-height: $height-s;
	}
	@include oGridRespondTo(L) {
		font-size: $size-l;
		line-height: $height-l;
	}
}

@mixin fullBleedImage {
	@include setTypeStyles(64px, 64px);
	.article-topper__text-box {
		background: transparent;
	}
	.article-topper__visual {
		width: 100%;
	}
	.article-topper__text-wrapper {
		z-index: 1;
	}
}

@mixin standardSplitMobile {
	@include alignText(left);
	@include setTypeStyles(52px, 52px);
}
