@import 'mixins';

.article-topper--split-text-right {
	@include standardSplitMobile;
	@include oGridRespondTo(S) {
		@include alignText(right);
		@include setHeadlineFont(52px, 32px);
		@include setStandfirstFont(22px, 18px);
	}
}

.article-topper--split-text-left {
	@include alignText(left);
	@include setHeadlineFont(52px, 32px);
	@include setStandfirstFont(22px, 18px);
}

.article-topper--split-text-center {
	@include standardSplitMobile;
	@include oGridRespondTo(S) {
		@include alignText(center);
		@include setHeadlineFont(52px, 32px);
		@include setStandfirstFont(22px, 18px);
	}
}

.article-topper--full-bleed-image-center {
	@include standardSplitMobile;
	@include oGridRespondTo(S) {
		@include alignText(center);
		@include fullBleedImage;
		@include overlayText;
		@include resizeTextbox;
	}
}

.article-topper--full-bleed-image-right {
	@include standardSplitMobile;
	@include oGridRespondTo(S) {
		@include overlayText;
		@include fullBleedImage;
		@include alignText(center);
		@include oGridRespondTo(M) {
			@include alignText(right);
		}
		.article-topper__text-wrapper {
			float: right;
			align-self: flex-end;
		}
	}
}

.article-topper--full-bleed-image-left {
	@include standardSplitMobile;
	@include oGridRespondTo(S) {
		@include alignText(left);
		@include fullBleedImage;
		@include overlayText;
	}
}

.article-topper--full-bleed-text {
	@include alignText(center);
	@include setStandfirstFont(22px, 18px);
	@include resizeTextbox;
	.article-topper__visual {
		display: none;
	}

	.article-topper__headline {
		@include oTypographySerifDisplayBold(xl, $load-progressively: true);
		font-size: 36px;
		line-height: 1;

		.o-typography--loaded-serifDisplayBold & {
			font-size: 36px * 1.077;
		}

		@include oGridRespondTo(S, L) {
			font-size: 52px;
			.o-typography--loaded-serifDisplayBold & {
				font-size: 52px * 1.077;
			}
		}

		@include oGridRespondTo(L) {
			font-size: 84px;
			.o-typography--loaded-serifDisplayBold & {
				font-size: 84px * 1.077;
			}
		}
	}
}
