@import 'mixins';

.article-topper--split-text-right {
	@include standardSplitMobile;
	@include oGridRespondTo(S) {
		@include alignText(right);
		@include setHeadlineFont(52px, 32px);
		@include setStandfirstFont(22px, 18px);
	}
}

.article-topper--split-text-left {
	@include alignText(left);
	@include setHeadlineFont(52px, 32px);
	@include setStandfirstFont(22px, 18px);
}

.article-topper--split-text-center {
	@include standardSplitMobile;
	@include oGridRespondTo(S) {
		@include alignText(center);
		@include setHeadlineFont(52px, 32px);
		@include setStandfirstFont(22px, 18px);
	}
}

.article-topper--full-bleed-image-center {
	@include standardSplitMobile;
	@include oGridRespondTo(S) {
		@include alignText(center);
		@include fullBleedImage;
		@include overlayText;
		@include resizeTextbox;
	}
}

.article-topper--full-bleed-image-right {
	@include standardSplitMobile;
	@include oGridRespondTo(S) {
		@include overlayText;
		@include fullBleedImage;
		@include alignText(center);
		@include oGridRespondTo(M) {
			@include alignText(right);
		}
		.article-topper__text-wrapper {
			float: right;
			align-self: flex-end;
		}
	}
}

.article-topper--full-bleed-image-left {
	@include standardSplitMobile;
	@include oGridRespondTo(S) {
		@include alignText(left);
		@include fullBleedImage;
		@include overlayText;
	}
}

.article-topper--full-bleed-text {
	@include alignText(center);
	@include setStandfirstFont(22px, 18px);
	@include resizeTextbox;
	.article-topper__visual {
		display: none;
	}

	.article-topper__headline {
		@include oTypographySerifDisplayBold(xl, $load-progressively: true);
		font-size: 36px;
		line-height: 1;

		.o-typography--loaded-serifDisplayBold & {
			font-size: 36px * 1.077;
		}

		@include oGridRespondTo(S, L) {
			font-size: 52px;
			.o-typography--loaded-serifDisplayBold & {
				font-size: 52px * 1.077;
			}
		}

		@include oGridRespondTo(L) {
			font-size: 84px;
			.o-typography--loaded-serifDisplayBold & {
				font-size: 84px * 1.077;
			}
		}
	}
}

.article-topper--full-bleed-offset {
	@include standardSplitMobile;
	@include oGridRespondTo(S) {
		@include alignText(left);
		@include fullBleedImage;
		@include overlayText;
	}

	.article-topper__visual {
		margin-bottom: 30px;
	}

	.article-topper__offset-container {
		margin: -90px 0 0 -20px;
		padding-left: 20px;
	}

	@include oGridRespondTo($until: S) {
		.article-topper__background {
			height: 0;
			min-height: 0;
		}

		.article-topper__visual {
			margin-bottom: 0;
		}

		.article-topper__offset-container {
			margin: 0;
			padding-left: 0;
		}

		.article__primary-theme {
			display: flex;
			flex-direction: column;
			.n-myft-ui {
				top: 5px;
			}
		}

		.article-topper__headline {
			margin-top: 15px;
		}
	};

	.article-topper__text-wrapper {
		width: 100%;
		padding: 16px 0 0;
	}

	.article-topper__stand-first {
		margin-bottom: 20px;
	}

	.article-topper__extras {
		.article__primary-theme {
			> a {
				color: oColorsGetPaletteColor('claret');
				font-size: 16px;
			}
		}
	}
}
