@import 'themes';

.article-topper__text-box {
	height: 60vh;
}

.article-topper__text-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

.article-topper__extras {
	// all of teh hacks!!
	width: 75%;
	margin-top: 5%;
	@include oGridRespondTo(L) {
		width: 50%;
	}

	.article__primary-theme {
		> a {
			color: inherit;
			font-size: 16px;
		}

		> span > form > button {
			@include oButtonsTheme(inverse);
			border-radius: 0;
			background-color: transparent;

			&:before {
				background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:plus?source=o-icons&tint=ffffff');
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.2) !important;
			}
		}
	}
}

.article-topper__headline {
	align-self: center; // flex-end with bleed?
	@include setHeadlineFont;
	width: 75%;
	@include oGridRespondTo(L) {
		width: 50%;
	}

	&:after {
		content: '';
		display: block;
		width: 33%;
		border-bottom: 8px solid $textual-color;
		@debug '#{$textual-color}';
		margin-top: 20px;
	}
}

.article-topper__stand-first {
	align-self: center; // flex-end with bleed?
	@include setStandfirstFont;
	width: 75%;
	@include oGridRespondTo(L) {
		width: 50%;
	}
}

.article-topper__visual {
	// much hacks
	@include oGridRespondTo($until: L) {
		margin-bottom: 5%;
	}

	> figure > div {
		padding-bottom: 60vh !important;
	}

	.n-content-image {
		margin: 0;

		.n-image-wrapper--placeholder {
			.n-image {
				object-fit: cover;
				height: 80vh;
			}
		}
	}

	.n-content-image__caption {
		position: absolute;
		text-align: right;
		width: 35%;
		right: 1.5em;
		@include oGridRespondTo($until: L) {
			width: 55%;
			right: 0.5em;
		}
	}
}
