@import 'themes';
.article-topper__slot-2 {
	width: 100%;
	height: 60vh;
	position: relative;
	background: hotpink;
}

.article-topper__visual {
	width: 50%;
	height: inherit;
	background: goldenrod;
	float: right;
}

.article-topper__text-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
}

.article-topper__text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 80%;
	height: inherit;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

.article-topper__extras {
	// all of teh hacks!!
	width: 50%;

	.article__primary-theme {
		> a {
			color: inherit;
			font-size: 16px;
		}

		> span > form > button {
			@include oButtonsTheme(inverse);
			border-radius: 0;
			background-color: transparent;

			&:before {
				background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:plus?source=o-icons&tint=ffffff');
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.2) !important;
			}
		}
	}
}

.article-topper__headline {
	@include setHeadlineFont;
	width: 45%;

	&::after {
		content: '';
		display: block;
		width: 33%;
		// border-bottom: 8px solid $textual-color;
		margin-top: 20px;
	}
}

.article-topper__stand-first {
	@include setStandfirstFont;
	width: 45%;
}

.article-topper__visual {
	// much hacks
	> figure {
		width: 50vw !important;
		> div {
			padding-bottom: 60vh !important;
		}
	}

	.n-content-image {
		margin: 0;

		.n-image-wrapper--placeholder {
			.n-image {
				object-fit: cover;
				height: 80vh;
			}
		}
	}

	.n-content-image__caption {
		position: absolute;
		text-align: right;
		width: 35%;
		right: 1.5em;
		@include oGridRespondTo($until: L) {
			width: 55%;
			right: 0.5em;
		}
	}
}
