
// Ad breakpoint where leaderboards start working
$ad-medium-breakpoint: 760px;
/*! start:head.css */


.above-header-advert {
	display: none;
	@media (min-width:$ad-medium-breakpoint) {
		display: block;
		padding: 10px 0;
		line-height: 0;
		text-align: center;
	}
}

.above-header-advert,
.in-article-advert,
.bottom-advert-mobile {
	&.o-ads--empty,
	&[data-o-ads-loaded="false"] {
		height: 0;
		min-height: 0;
		padding: 0;
	}
}

.bottom-advert {
	margin-top: 8px;
}

/*! end:head.css */
.sidebar-advert {
	@include oGridRespondTo(L) {
		display: block;
	}
	&.sidebar-advert--no-responsive[data-o-ads-master-loaded="Responsive"] {
		display: none;
	}
}

.in-article-advert {
	visibility: hidden;
	height: 0;
	width: 0;
	overflow: hidden;
	&[data-o-ads-loaded="Responsive"][data-o-ads-master-loaded="Responsive"] {
		visibility: visible;
		height: auto;
		width: auto;
		clear: both;
	}

	@include oGridRespondTo($until: L) {
		@include oAdsReserve250();
		visibility: visible;
		height: auto;
		width: auto;
		clear: both;
	}

}

.promoted-content {
	display: none;
	.related-content & {
		margin: 50px 0;
	}

	.card {
		margin-top: 0;
		&:before {
			display: none;
		}
		&:after {
			top: 12px;
			bottom: 12px;
		}
	}


	.card.card--promoted-content,
	.card.card--paid-post,
	.card.card--smartmatch {
		margin-top: 0;
		.card__content {
			margin: 0;
		}
	}
}

.promoted-content--border {
	border: 1px solid getColor('pink-tint3');
}

.promoted-content--loaded {
	display: block;
}
