.inline-barrier__fader {
	background: oColorsGetPaletteColor('pink');
	//Super verbose in order to keep Safari happy
	background: linear-gradient(to bottom, rgba(getColor('pink'), 0), rgba(getColor('pink'), 0.8), rgba(getColor('pink'), 1));
	height: 160px;
	margin-top: -200px;
	position: relative;
}

.inline-barrier__content {
	background-color: oColorsGetPaletteColor('warm-5');
	border: 1px solid oColorsGetPaletteColor('warm-3');
	box-sizing: border-box;
	padding: 15px 15px 0;
	text-align: center;
}

.inline-barrier__heading {
	@include oTypographySansBold('l', true);
	color: oColorsGetPaletteColor('cold-1');
	margin: 0 0 5px;
}

.inline-barrier__description {
	font-size: 17px;
	font-weight: 400;
	line-height: 23px;
	margin: 0 0 10px;
}

.inline-barrier__more {
	@include oTypographySansSize('s', true);
	margin: 0 0 10px;
}

.inline-barrier__terms {
	@include oTypographySansSize('xs', true);
	margin: 0 0 20px;
}

@include oGridRespondTo($until: 'M') {
	.inline-barrier__button {
		display: block;
	}
}

// Horrible hack for an MVT, to avoid shaving a humongous yak. Sorry, Internet.
// scss-lint:disable QualifyingElement
p.barrier-grid__heading-pretext {
	margin-top: 15px;
}

.enhanced {
	.inline-barrier--trial {
		.inline-barrier__content {
			display: none;
		}
	}

	.inline-barrier--trial.inline-barrier--done {
		.inline-barrier__content {
			display: block;
		}
	}
}

.inline-barrier--no-prices .inline-barrier__needs-price {
	display: none;
}
