.article__comments {
	padding-top: 10px;
}

body .fyre-modal .fyre-modal-title-close {
	background-image: none;

	&:before {
		@include oIconsGetIcon('cross', oColorsGetPaletteColor('grey-tint4'), 20, $iconset-version: 1);
		content: '';
	}
}

.comments__rum-indicator {
	z-index: -1;
	margin-top: 100px;
	margin-bottom: -100px;
	pointer-events: none;
}


body .fyre-modal .fyre-modal-facebook-icon {
	@include oIconsGetIcon('social-facebook', oColorsGetPaletteColor('pink-tint5'), 20, $iconset-version: 1);
	&:hover {
		@include oIconsGetIcon('social-facebook', oColorsGetPaletteColor('blue'), 20, $iconset-version: 1);
	}
}
body .fyre-modal .fyre-modal-twitter-icon {
	@include oIconsGetIcon('social-twitter', oColorsGetPaletteColor('pink-tint5'), 20, $iconset-version: 1);
	&:hover {
		@include oIconsGetIcon('social-twitter', oColorsGetPaletteColor('blue'), 20, $iconset-version: 1);
	}
}
