<header class="topper topper--{{topper.theme}} {{#if designGenre.headshot}} topper--has-headshot{{/if}}" data-trackable="header" data-textbox-background="{{topper.backgroundColour}}">
	<div class="o-grid-container">
		<div class="o-grid-row">
			<div data-o-grid-colspan="12 L8 XL7 XLoffset1">

				{{> topper/components/tags withBrand=false}}

				<h1 class="topper__headline">
					<span class="article-classifier__gap">{{title}}</span>
					{{#ifAll @root.flags.premiumContentIndicator isPremium}}
						<span class="article-classifier">Premium</span>
					{{/ifAll}}
				</h1>

				{{> topper/components/standfirst}}
				{{> topper/components/brand}}

				{{> topper/components/headshot}}

			</div>

			<aside class="article__aside" data-o-grid-colspan="hide L4 XL3 XLoffset1">
				{{> topper/components/read-next article=readNextArticle}}
			</aside>

		</div>
	</div>


</header>
