<div class="article-topper article-topper--full-bleed-offset" aria-hidden="true" role="presentation">
	<div class="article-topper__slot-1">
		<div class="article-topper__background"></div>
		<div class="article-topper__visual">
			<picture class="article-topper__picture">
				{{#ifEquals topper.themeImageRatio 'full-bleed'}}
					{{#each topper.images}}
						{{#ifEquals type 'square'}}<source media="(max-width: 490px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/{{url}}?source=next&fit=scale-down&quality=highest&width=490 490w">{{/ifEquals}}
						{{#ifEquals type 'standard'}}<source media="(max-width: 1220px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/{{url}}?source=next&fit=scale-down&quality=highest&width=1220 1220w">{{/ifEquals}}
						{{#ifEquals type 'wide'}}<source media="(min-width: 1220px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/{{url}}?source=next&fit=scale-down&quality=highest&width=1440 1440w">{{/ifEquals}}
					{{/each}}
				{{/ifEquals}}

				{{#ifEquals topper.themeImageRatio 'split'}}
					{{#each topper.images}}
						{{#ifEquals type 'square'}}<source media="(max-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/{{url}}?source=next&fit=scale-down&quality=highest&width=1440 1440w">{{/ifEquals}}
						{{#ifEquals type 'standard'}}<source media="(min-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/{{url}}?source=next&fit=scale-down&quality=highest&width=1440 1440w">{{/ifEquals}}
					{{/each}}
				{{/ifEquals}}

				<img class="article-topper__image" src="https://www.ft.com/__origami/service/image/v2/images/raw/{{mainImage.url}}?source=next&fit=scale-down&quality=highest&width=1440">
			</picture>
		</div>
	</div>
</div>
