<div class="article-topper--full-bleed-offset">
	<div class="article-topper__offset-container" data-textbox-background="pink">
		<div class="article-topper__text-box">
			<div class="article-topper__text-wrapper">
				<div class="article-topper__extras">
					{{#if primaryTag}}
						{{> header/primary-tag}}
					{{/if}}
				</div>
				<div class="article-topper__headline" data-trackable="header">{{topper.headline}}</div>
				{{#if topper.standfirst}}
				<div class="article-topper__stand-first">{{{topper.standfirst}}}</div>
			{{/if}}
			</div>
		</div>
		<div class="article-topper__utils">
			{{> toolbar location='top'}}
			<div class="article__time-byline">
				{{#if publishedDate}}
				<time class="article__timestamp o-date" data-o-component="o-date" datetime="{{#dateformat}}{{publishedDate}}{{/dateformat}}" data-o-date-js>
					{{#dateformat "mmmm d, yyyy"}}{{publishedDate}}{{/dateformat}}
				</time>
				{{/if}}
				{{#if byline}}
				<p class="article__byline">{{#ifEquals contentType 'article'}}by: {{/ifEquals}}{{{byline}}}</p>
				{{/if}}
				{{#ifAll @root.flags.premiumContentIndicator isPremium}}
				<span class="article-classifier">Premium</span>
				{{/ifAll}}
			</div>
		</div>
	</div>
</div>
