<div class="article-topper--full-bleed-offset" data-o-grid-colspan="12 L8 XL7 XLoffset1">
	<div class="article-topper__offset-container" data-textbox-background="{{topper.backgroundColour}}">
		<div class="article-topper__text-box">
			<div class="article-topper__text-wrapper">
				{{#if containedIn}}

				{{else}}
					{{#if primaryTag}}
						{{> header/primary-tag}}
					{{/if}}
				{{/if}}
				<div class="article-topper__headline" data-trackable="header">{{topper.headline}}</div>
				{{#if topper.standfirst}}
				<div class="article-topper__stand-first">{{{topper.standfirst}}}</div>
			{{/if}}
			</div>
		</div>

	</div>
</div>
