<header class="topper video__header" data-trackable="header">
	<div>
		<div class="video__header-info n-util-clearfix">
			<div class="video__share-container">
				{{> toolbar inverse=true}}
			</div>
			{{#if primaryTag}}
				<a href="{{primaryTag.relativeUrl}}" class="n-content-tag n-content-tag--medium standalone-teaser-heading" data-trackable="primary-theme" aria-label="posted in category {{primaryTag.prefLabel}}" data-concept-id="{{primaryTag.idV1}}">{{primaryTag.prefLabel}}</a>
			{{/if}}
			<span class="video__duration">
				{{formattedDuration}}
			</span>
		</div>

		{{>topper/components/headline}}
	</div>
</header>
