.more-on__topic--link {
	position: relative;
	padding-right: 20px;
	margin-bottom: 20px;
	display: block;
	text-align: right;
	@include oGridRespondTo(M) {
		display: none;
	}
}

.more-ons-tags {
	@include nContentBox();
	border: 1px solid getColor('warm-3');
}

.more-ons-tags__title {
	@include nContentBoxTitle();
	margin-bottom: 0;
}

.more-ons-tags__title-text {
	@include nContentBoxTitleText();
	background-color: getColorFor('page', 'background');
}
