<div class="o-grid-row">
	{{#ifSome @root.flags.threeAdProposition @root.isBusinessEducation}}
	<div data-o-grid-colspan="12 Lfalse">
		{{>ads/bottom-mobile}}
	</div>
	{{/ifSome}}

	<div data-o-grid-colspan="12 L8 XLoffset1">
		<div class="comments__rum-indicator"></div>
		<div
			id="comments"
			data-trackable="comments"
			data-comments-js="{{commentsAssets.js}}"
			data-comments-css="{{commentsAssets.css}}"
			class="article__comments o-comments n-util-hide@print"></div>
	</div>

	{{#ifSome @root.flags.threeAdProposition @root.isBusinessEducation}}
	<div data-o-grid-colspan="false L4 XL3">
		{{>ads/bottom}}
	</div>
	{{/ifSome}}


</div>
