<div class="article__topper full-bleed-image-right">
	<div class="article-topper__slot-1">
		<div class="article-topper__text-box" data-textbox-background={{topper.bgColor}}>
			<div class="article-topper__text-wrapper o-grid-container">
				<div class="article-topper__extras">
					{{#if isSpecialReport}}
					<p class="article__primary-theme">
						Special Report:
						<a href="/special-reports/{{primaryTag.idV1}}" class="n-content-tag n-content-tag--medium n-content-tag--with-follow" data-trackable="section-link" aria-label="posted in category {{primaryTag.prefLabel}}" data-concept-id="{{primaryTag.idV1}}">{{primaryTag.prefLabel}}</a>
					</p>
					{{else}}
						{{#if primaryTag}}
							{{> header/primary-tag}}
						{{/if}}
					{{/if}}
				</div>
				<div class="article-topper__headline" data-trackable="header">{{topper.headline}}</div>
				{{#if topper.standfirst}}
				<p class="article-topper__stand-first">{{{topper.standfirst}}}</p>
				{{/if}}
			</div>
		</div>
		<div class="article-topper__visual">
			{{#nImagePresenter srcSet=mainImage.url placeholder=image.ratio widths="[131, 196, 276]" }}
				{{> n-image/templates/image }}
			{{/nImagePresenter}}
		</div>
	</div>
	<div class="article-topper__slot-2 o-grid-container">
		<div class="o-grid-row">

			<div class="article-topper__utils" data-o-grid-colspan="12 L8 XL7 XLoffset1">
				{{> toolbar location='top'}}
				<div class="article__time-byline">
					{{#if publishedDate}}
					<time class="article__timestamp o-date" data-o-component="o-date" datetime="{{#dateformat}}{{publishedDate}}{{/dateformat}}" data-o-date-js>
						{{#dateformat "mmmm d, yyyy"}}{{publishedDate}}{{/dateformat}}
					</time>
					{{/if}}
					{{#if byline}}
					<p class="article__byline">{{#ifEquals contentType 'article'}}by: {{/ifEquals}}{{{byline}}}</p>
					{{/if}}
					{{#ifAll @root.flags.premiumContentIndicator isPremium}}
						<span class="article-classifier">Premium</span>
					{{/ifAll}}
				</div>
			</div>
			<div class="article-topper__caption">
				{{mainImage.description}}
			</div>
		</div>
	</div>
</div>
