<aside
	role="complementary"
	data-o-grid-colspan="hide L3 Loffset1"
	class="n-content-tags__wrapper {{#if mainImageHtml}}n-content-tags__wrapper--main-image{{/if}}">
	<div class="n-content-tags__title">Topics mentioned in this article</div>
	<ul class="n-content-tags__list" data-trackable="tags">
		{{#each tags}}
		<li class="n-content-tag__list-item--vertical">
			<a
				href="{{relativeUrl}}"
				data-trackable="tag"
				{{#if idV1}}data-concept-id="{{idV1}}"{{/if}}>{{prefLabel}}</a>
		</li>
		{{/each}}
	</ul>
</aside>
