$video-background-primary: #252830;
$video-grey-text: oColorsGetPaletteColor('grey-tint2');
$placeholder-background-color: rgba(oColorsGetPaletteColor('claret'), 0.65);


.content__video {
	background: $video-background-primary;
	margin-bottom: 20px;
	color: white;
	position: relative;

	// Improve text appearance on dark background
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	a:hover {
		color: $video-grey-text;
	}

	.article__primary-theme {
		margin-bottom: 15px;
	}

	.n-content-body {
		@include oTypographySans(m);
	}

	.n-content-tag--medium {
		@include oTypographySansBold(s);
		color: white;
	}

	.standalone-teaser-heading {
		font-weight: bold;
		margin-top: 20px;
		&:after {
			border-bottom-color: white;
		}
	}

	// Hide follow link for now
	.n-myft-ui--follow {
		display: none;
	}
}

.video__background-wrapper {
	background: oColorsGetPaletteColor('warm-4');
	margin-bottom: 15px;

	// Reduce padding to left and right of the video on small screen sizes
	> .o-grid-container {
		@include oGridRespondTo($until: M) {
			padding: 0 0 0 10px;
		}
	}
}

.video__container {
	position: relative;
	padding: 0;
}

// Although o-video has placeholder functionality, the designs for the video player page
// call for placeholder states which both look and behave differently, including visibility
// once the video has played.  Keep a separate placeholder element.
.video__placeholder {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: $placeholder-background-color;
	transition: opacity 0.2s;
	visibility: visible;
	display: none;

	.enhanced & {
		display: block;
	}

	> .o-video__info {
		padding: 25px 20px;
	}

	.video__duration {
		color: white;
	}

	&.video__placeholder--played {
		bottom: 40px;
		pointer-events: none;
		background: linear-gradient($placeholder-background-color, $placeholder-background-color, $placeholder-background-color, transparent); // Fades out the end

		> .o-video__play-button {
			display: none;
		}
	}

	&.video__placeholder--playing {
		opacity: 0;
		visibility: hidden;
	}

	.o-video__play-button-text {
		color: white;
	}
}

.video__placeholder__headline {
	margin-top: 21px;
}

.video__autoplay-up-next {
	position: absolute;
	// allow space for the control bar
	bottom: 40px;
	right: 20px;
	padding: 10px;
	width: 240px;
	// it's a link so remove the border
	border: 0;
	background-color: getColor('black');
	color: getColor('white');

	&:empty {
		display: none;
	}
}

.video__autoplay-up-next--no-autoplay {
	padding-left: 70px;
}

.video__autoplay-up-next__icon {
	@include oIconsGetIcon('play', getColor('white'), 48);
	position: absolute;
	top: 0;
	left: 10px;
	height: 100%;
	// only display for the no-autoplay A/B variant
	display: none;

	:hover > &,
	:focus > & {
		// match link hover color without loading a new icon
		// #999 == cmyk(0, 0, 0, 0.4)
		opacity: 0.6;
	}

	.video__autoplay-up-next--no-autoplay & {
		display: block;
	}
}

.video__autoplay-up-next__label {
	margin: 0;
	font-size: 1em;
}

.video__autoplay-up-next__heading {
	@include oTypographySerif('m');
	margin: 0.4em 0;
}

.video__autoplay-up-next__duration {
}

.video__info {
	@include oGridRespondTo(L) {

		// No way to disable the gutter on part of a row without making it full-width?
		padding-left: 0;
	}
}

.video__header-info {
	margin-bottom: 15px;
}

.video__header {
	margin-bottom: 26px;
}

.video__share-container {
	float: right;

	.article__share {
		margin: 0;
		padding: 0;
		border: 0;
	}

	.o-share {
		float: right;
	}

	.article__save {
		margin-right: 15px;
	}

	.n-myft-ui__button {
		color: white;
		background-color: mix($video-background-primary, rgba(255, 255, 255, 0.15));
		border-color: mix($video-background-primary, rgba(255, 255, 255, 0.25));
	}
	.n-myft-ui__button:not([disabled]):active {
		color: oColorsGetPaletteColor('grey-tint1');
	}
}

.video__description > p {
	font-size: 20px;
	line-height: 24px;
	color: $video-grey-text;
	margin-bottom: 11px;
}

.video__date {
	font-size: 14px;
	color: $video-grey-text;
}

.video__byline-label {
	font-size: 16px;
	margin: 24px 0 0;
	font-weight: bold;
}

.video__byline {
	font-size: 16px;
	color: $video-grey-text;
	margin: 0 0 20px;
}

.video__duration {
	color: $video-grey-text;
	margin-left: 20px;
	font-size: 14px;
}

.video__related-articles-title {
	margin: 24px 0 0;
	font-size: 16px;
}

.video__related-articles-list {
	list-style-position: inside;
	margin: 0;
	padding: 0;

	li {
		margin: 5px;
	}
	a {
		color: white;
		border-bottom: 0;
	}
}

.related_content__list-item--video a:after {
	@include oIconsGetIcon('play', oColorsGetPaletteColor('black'), 13, $iconset-version: 1);
	content: '';
	position: relative;
	top: 1px;
	background-color: oColorsGetPaletteColor('white');
	margin-left: 5px;
}

.video__aside {
	.o-ads {
		width: 100%;
		text-align: center;
		margin: 20px 0;

		@include oGridRespondTo(L) {
			text-align: right;
			margin-top: 0;
		}
	}
}

.video__up-next {
	margin-top: 40px;

	.o-teaser-collection__heading {
		padding: 13px 0 0;

		&:before {
			border-top: 8px solid rgba(255, 255, 255, 0.2);
		}
		&:after {
			border-top-color: white;
			width: 50%;
		}
	}

	.o-teaser--small {
		border-bottom: 0;

		// Still display images on smallscreen
		.o-teaser__image-container {
			display: block;
			flex-basis: 100%;
		}
	}

	.o-teaser--has-image .o-teaser__heading:after {
		display: none;
	}
}

.video__up-next__list {
	list-style-type: none;
	padding: 0;
}

.video__up-next__list-item {
	padding-bottom: 10px;
}

.video__error {
	padding: 40px 0;
	text-align: center;

	> h1 {
		@include oTypographySansBold(l);
		margin-top: 32px;
		margin-bottom: 29px;
	}

	> p {
		@include oTypographySans(m);
		margin: 0;
	}

	&:before {
		@include oIconsGetIcon('cross', oColorsGetPaletteColor('red-tint2'), 80, $iconset-version: 1);
		content: '';
	}
}

.video__core-fallback {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;

	.enhanced & {
		display: none;
	}
}


// o-video style overrides

.o-video__play-button-icon {
	@include oGridRespondTo(M) {
		height: 60px;
		width: 60px;
	}
	@include oGridRespondTo(XL) {
		height: 80px;
		width: 80px;
	}
}

.o-video__video:focus {
	outline: none;
	outline-offset: 0;
}

.n-image-wrapper {
	overflow: hidden;
}
