<div class="package__end-nav-teaser">
	<div class="o-teaser o-teaser--large-portrait{{#if mainImage}} o-teaser--has-image{{/if}}" data-o-component="o-teaser">
		<div class="o-teaser__content">
			<div class="o-teaser__meta">
				<span class="package__text--highlit package__text--m">UP NEXT</span>
			</div>
			<a href="{{relativeUrl}}">
				<h2 class="o-teaser__heading">{{title}}</h2>
			</a>
			<p class="o-teaser__standfirst">{{standfirst}}</p>
		</div>
		<div class="package__end-title-container">
			<span class="package__end-nav-title package__text--m package__text--strong">Explore the {{@root.packageBrand.inSentence}}</span>
		</div>
		{{#if mainImage}}
		<div class="o-teaser__image-container">
			<div class="o-teaser__image-placeholder image-placeholder">
				<a href="{{relativeUrl}}">
					<img src="{{mainImage.url}}" class="o-teaser__image" alt="main image"></img>
				</a>
			</div>
		</div>
		{{/if}}
	</div>
</div>
