<picture class="topper__picture">
	{{#each topper.images}}
		{{#ifEquals type 'square'}}<source media="(max-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/{{url}}?source=next&fit=scale-down&quality=highest&width=1440 1440w">{{/ifEquals}}
		{{#ifEquals type 'standard'}}<source media="(min-width: 1440px)" srcset="https://www.ft.com/__origami/service/image/v2/images/raw/{{url}}?source=next&fit=scale-down&quality=highest&width=1440 1440w">{{/ifEquals}}
	{{/each}}

	<img alt="{{alt}}" class="topper__image" src="https://www.ft.com/__origami/service/image/v2/images/raw/{{mainImage.url}}?source=next&fit=scale-down&quality=highest&width=1440">
</picture>
