
// avoid flash of unstyled tour tip
@include nUiCriticalStart();
	.tour-tip--article-page {
		display: none;
	}
@include nUiCriticalEnd();

.tour-tip--article-page {
	@include nContentBoxInline();
	border: 1px solid getColorFor(card, border);
	clear: left;
	display: block;
	margin-bottom: $spacing-unit;
	position: relative;
}
