<div
	class="promoted-content"
	role="region"
	data-trackable="promoted-content"
	aria-labelledby="promoted-content-title">
		<section class="o-grid-row">
			<div class="section__column section__column--content" data-o-grid-colspan="12">
				<div class="section__column__inner">
					<div class="o-grid-row">
						<div class="promoted-content__first column" data-o-grid-colspan="12"></div>
						<div class="promoted-content__second column" data-o-grid-colspan="12"></div>
					</div>
				</div>
			</div>
		</section>
</div>
